#mainAbout {
    width: 100%;
    min-height: 730px;
    display: flex;
    background-color: #0F0F12;
    align-items: center;

}

.aboutGridContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}





/*--------------------------------------------------------LEFT ABOUT-------------------------------------------------------------------*/

#leftAbout {
    grid-column: 1;
    grid-row: 1 / span 2;
    min-height: 570px;
    background-color: #18181C;
    border-radius: 10px;
    border: 1px solid #24242A;
    transition: 0.5s;
    animation-duration: 1.5s;




}

#leftAbout:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    cursor: pointer;
}

#leftAbout h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#leftUl {
    padding-left: 10px;
    padding-bottom: 20px;
}


#leftUl li {
    list-style: none;
    color: #A1A1AA;
    font-size: 1.5rem;
}

#leftLanguageUl li {

    list-style: none;
    color: #A1A1AA;
    font-size: 1.5rem;

}



#headOfInterestingInfo {
    display: inline;
    text-align: left;
    color: white;
    padding-left: 10px;
    font-size: 1.2rem;
}


#aboutMeText {
    text-align: left;
    color: #A1A1AA;
    padding-left: 10px;
    padding-top: 15px;
}



/*--------------------------------------------------------RIGHT ABOUT-------------------------------------------------------------------*/



#rightAbout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    grid-column: 2;
    grid-row: 1 / span 2;
}



#rightAboutUp {
    height: 275px;
    background-color: #18181C;
    border-radius: 10px;
    border: 1px solid #24242A;
    transition: 0.5s;
    animation-delay: 0.4s;
    animation-duration: 1.5s;



}

#rightAboutUp:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    cursor: pointer;
}

#rightAboutUp h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}




#techStackUl li {

    color: #A1A1AA;
    font-size: 1.6rem;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}












#rightAboutDown {
    height: 275px;
    background-color: #18181C;
    border-radius: 10px;
    border: 1px solid #24242A;
    transition: 0.5s;
    animation-delay: 0.5s;
    animation-duration: 1.5s;

}


#rightAboutDown:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    cursor: pointer;
}

#rightAboutDown h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}



#services li {

    color: #A1A1AA;
    font-size: 1.4rem;
    padding: 2px;
}

/*--------------------------------------------------------MEDIA----------------------------------------------------------------------*/



@media(max-width:900px) {
    #leftUl li {
        font-size: 1.2rem;
    }

    #techStackUl li {
        font-size: 1.4rem;
    }

    #services li {
        font-size: 1.2rem;
    }
}

@media(max-width:768px) {

    #mainAbout {
        padding-bottom: 70px;
    }

    .aboutGridContainer {
        padding-top: 60px;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    #leftAbout {
        grid-column: 1;
        grid-row: 1;
    }

    #rightAbout {
        grid-column: 1;
        grid-row: 2;
    }

    #leftUl li {
        font-size: 1.4rem;
    }

    #techStackUl li {
        font-size: 1.5rem;
    }

    #services li {
        font-size: 1.4rem;
    }


}


@media(max-width:480px) {
    #leftUl li {
        font-size: 1.2rem;
    }

    #techStackUl li {
        font-size: 1.5rem;
    }

    #services li {
        font-size: 1.3rem;
    }
}

@media(max-width:380px) {
    #leftUl li {
        font-size: 1rem;
    }

    #aboutMeText {
        font-size: 0.8rem;
    }

    #headOfInterestingInfo {
        font-size: 0.9rem;
    }


}