#mainContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 750px;
    gap: 20px;
    background-color: black;
    border-top: 2px solid #1B1B20;
    align-items: center;
    padding-bottom: 40px;
}

#headerOfContact {
    color: white;
    font-size: 3.5rem;
    margin-top: 50px;
}


#contact-wrapper {
    width: 90%;
    min-height: 500px;
    display: flex;
}

/*-----------------------------------------------------------LEFT CONTACT--------------------------------------------------------------*/

#leftContact {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


#socialMediaOfContact {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

#socialMediaOfContact a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    height: 40px;
    text-decoration: none;
    color: white;
}

.iconContact {
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #1B1B20;
    border-radius: 5px;
}


/*-----------------------------------------------------------RIGHT CONTACT--------------------------------------------------------------*/


#form-wrapper {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#contact-form {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: #1B1B20;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}

#textFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

#ctaOfContact {
    margin-top: 27px;
    width: 90%;
    height: 50px;
    border-radius: 50px;
}


@media(max-width:1000px) {

    #leftContact {
        width: 50%;
        text-align: center;
    }


    #contact-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    #form-wrapper {
        width: 80%;
        justify-content: center;
    }
}

@media(max-width:800px) {
    #leftContact {
        width: 60%;
    }

    #form-wrapper {
        width: 100%;
    }

}

@media(max-width:600px) {
    #leftContact {
        width: 70%;
    }

    #contact-form {
        width: 75%;
    }


}

@media(max-width:500px) {
    #leftContact {
        width: 80%;
    }

    #mainContact {
        padding-bottom: 100px;
    }

    #contact-form {
        width: 85%;
    }

}

@media(max-width:400px) {
    #leftContact {
        width: 90%;
    }

    #contact-form {
        width: 95%;
    }





}