#mainHero {
    background-color: black;
    width: 100%;
    padding-bottom: 200px;
}


/*--------------------------------------------------------------NAVBAR-------------------------------------------------------------------*/

#navbar {
    background-color: #0F0F12;
    height: 60px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}

#endPoints {
    display: flex;
    gap: 70px;
}

#endPoints a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.4s;
}

#endPoints a:hover {
    transform: translateY(-4px);
    color: gray;
    transition: 0.4s;
}

#socialMedia {
    display: flex;
    gap: 20px;

}


#socialMedia a {
    color: grey;
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.3rem;
}

#socialMedia a:hover {
    color: white;
    transition: 0.5s;
}

/*------------------------------------------------------MENU TOGGLE BUTTON-----------------------------------------------------*/


#menuBtn {
    display: none;
    color: white;
}








/*---------------------------------------------------------------INTRODUCTION-----------------------------------------------------------*/



#introduction {
    display: flex;
    gap: 10px;
    margin-top: 150px;
}

#textOfHero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

#textOfHero h1 {
    color: white;
    font-size: 2.5rem;
    animation: SlideUp 1s forwards;
}


#textOfHero p {
    color: grey;
    animation: SlideUp 1s backwards;
    animation-delay: 0.5s;
}



#heroCta {
    width: 70%;
    color: white;
    background-color: green;
    height: 50px;
    border-radius: 7px;
    margin-top: 20px;
    animation: SlideUp 1s backwards;
    animation-delay: 1s;

}

#imageOfHero {
    width: 50%;
    display: flex;


    justify-content: flex-end;
}

#imageOfHero img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.6s;
    animation: SlideToLeft 1.5s backwards;

}


#imageOfHero img:hover {
    transform: scale(1.02);
    transition: 0.6s;
    cursor: pointer;
}

/*----------------------------------------------------------------MEDIA-----------------------------------------------------------*/

@media(max-width:768px) {
    #navbar {
        position: absolute;
        flex-direction: column;
        height: auto;
        z-index: 10;
        height: 100vh;
        top: 0;
        left: -270px;
        justify-content: flex-start;
        width: 270px;
        padding-top: 30px;
        transition: 0.6s;
        gap: 50px;

    }

    #navbar.open {
        left: 0;
        transition: 0.6s;
    }

    #endPoints {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    #menuBtn {
        display: block;
        margin-left: auto;

    }

    #introduction {
        margin-top: 50px;
    }

    #socialMedia {
        width: 100%;
        height: 40px;
        margin-left: 0;
        justify-content: center;
        font-size: 30px;

    }






}

@media(max-width:700px) {
    #introduction {
        flex-direction: column-reverse;
        align-items: center;
        gap: 70px;
    }

    #mainHero {
        padding-bottom: 100px;
    }

    #textOfHero {
        align-items: center;
        width: 80%;
    }

    #imageOfHero {
        width: 80%;
        justify-content: center;
    }
}

@media(max-width:500px) {
    #textOfHero {
        width: 90%;
    }

    #imageOfHero img {
        width: 300px;
        height: 300px;
    }

    #imageOfHero {
        width: 90%;
    }

    #navbar {
        left: -240px;
        width: 240px;
    }
}


@media(max-width:360px) {
    #textOfHero h1 {
        font-size: 2rem;
    }

    #imageOfHero img {
        width: 270px;
        height: 270px;
    }

    #navbar {
        left: -200px;
        width: 200px;
    }
}