#mainTemplates {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 730px;
    background-color: #1B1B20;
    align-items: center;
}


#headerOfTemplates {
    position: relative;
    width: 100%;
    font-size: 1.7rem;
    color: white;

}

#headerOfTemplates h1 {
    position: absolute;
    left: 5%;
    display: inline;
}


#ctaOfTemplates {
    background-color: #008000;
    align-self: flex-start;
    margin: 30px;
}





@media(max-width:500px) {

    #headerOfTemplates {
        font-size: 1.5rem;

    }

}

@media(max-width:400px) {

    #headerOfTemplates {
        font-size: 1.3rem;

    }

}